/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin         : 0;
    padding        : 0;
    border         : 0;
    font-size      : 100%;
    font           : inherit;
    vertical-align : baseline;
    font-family    : "Roboto", sans-serif;
    }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display : block;
    }

body {
    line-height : 1;
    }

ol, ul {
    list-style : none;
    }

blockquote, q {
    quotes : none;
    }

blockquote:before, blockquote:after,
q:before, q:after {
    content : '';
    content : none;
    }

table {
    border-collapse : collapse;
    border-spacing  : 0;
    }

body {

    }

.main-body-wrap {
    width    : 100%;
    position : relative;
    z-index  : 1;
    }

a,a:hover{
    text-decoration: none;
}


/*no-conflict*/
.row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

/*topbar*/
.top-bar-wrap {
    padding    : 0;
    background : #E6E6E6;
    }

.row {
    margin-bottom : 0;
    }

.top-bar-hidden {
    position   : relative;
    height     : 0;
    transition : all 800ms;
    opacity: 0;
    }

.top-bar-visible {
    position : relative;
    height   : auto;
    opacity: 1;
    }

.top-bar-space {
    top : 52px;
    }

.social-follow li {
    padding      : 6px 15px;
    border-right : 1px solid #CCCCCC;
    }

.social-follow li:last-child {
    border-right : none;
    }

.social-follow li a {
    color : #4D4D4D;
    }

.social-follow li i {
    height        : 40px;
    width         : 40px;
    background    : transparent;
    border-radius : 50%;
    text-align    : center;
    line-height   : 35px;
    border        : 1px solid #4D4D4D;
    font-size     : 22px;
    }

.social-follow li span {
    color : #B3B3B3;
    }

.topbar-language li a {
    line-height     : 50px;
    color           : #4D4D4D;
    text-decoration : none;
    padding         : 18px 15px;
    }

ul.topbar-language li:hover a, ul.topbar-language li:focus a, ul.topbar-language li:active a {
    background : #CCCCCC;
    }

.topbar-language li.inactive a {
    color : #B3B3B3;
    }

/*header*/
.bg-red{
    background: #ed1b23 !important;
}
.header {
    background : rgba(0, 0, 0, 0.3);
    border     : none;
    }

.navbar {
    margin-bottom : 0;
    }

.navbar-default {
    transition : all 100ms;
    z-index    : 10300;;
    }

.logo {
    padding : 2px;
    }

.logo img {
    max-width  : 116px;
    max-height : 43px;
    }

.right-panel {
    padding : 0;
    }

.right-nav li a {
    line-height     : 50px;
    text-decoration : none;
    color           : #FFFFFF;
    font-size       : 35px;
    }

.morphsearch.open {
    position   : fixed;
    width      : 100% !important;
    min-height : 100% !important;;
    top        : 0px !important;;
    right      : 0px !important;;
    }

.morphsearch {
    display    : none;
    width      : 0 !important;
    height     : 0 !important;
    min-height : 0 !important;
    top        : 0 !important;
    right      : 0 !important;
    position   : fixed !important;
    }

.morphsearch.open .morphsearch-input {
    height        : 130px;
    border-bottom : none;
    font-size     : 65px !important;
    }

.icon-container-wrap {
    padding : 2px 0;
    border  : 1px solid #CCCCCC;
    margin  : 30px 0;
    }

.icon-container-wrap ul {
    margin     : auto;
    text-align : center;
    }

.icon-container-wrap li a {
    text-decoration : none;
    }

.icon-container-wrap li i {
    font-size     : 25px;
    padding       : 5px;
    border-radius : 100%;
    margin        : 10px 15px;
    color         : #FFFFFF;
    width         : 40px;
    height        : 40px;
    display       : inline-block;
    text-align    : center;
    line-height   : 30px;
    }

.icon-container-wrap li {
    background : transparent !important;
    }

.yellow i {
    background : #FCBD2E;
    }

.yellow-li {
    border-left : 5px solid #FCBD2E;
    }

.green i {
    background : #63BD10;
    }

.green-li {
    border-left : 5px solid #63BD10;
    }

.red i {
    background : #ED1B23;
    }

.red-li {
    border-left : 5px solid #ED1B23;
    }

.coffee i {
    background : #70584E;
    }

.coffee-li {
    border-left : 5px solid #70584E;
    }

.purple i {
    background : #A500FF;
    }

.purple-li {
    border-left : 5px solid #A500FF;
    }

.ocean-blue i {
    background : #1A71DC;
    }

.ocean-blue-li {
    border-left : 5px solid #1A71DC;
    }

.violet i {
    background : #6E00FE;
    }

.violet-li {
    border-left : 5px solid #6E00FE;
    }

.pink i {
    background : #E91E63;
    }

.pink-li {
    border-left : 5px solid #E91E63;
    }

.blue i {
    background : #3F51B5;
    }

.blue-li {
    border-left : 5px solid #3F51B5;
    }

.black i {
    background : #000000;
    }

.black-li {
    border-left : 5px solid #000000;
    }

.gray i {
    background : #666666;
    }

.gray-li {
    border-left : 5px solid #666666;
    }

.morphsearch-content {
    margin-top : 20px !important;
    }

.dummy-media-object {
    padding       : 10px 15px !important;
    margin        : 10px 0 !important;
    border-radius : 0px !important;
    background    : #FFFFFF !important;

    }

.extra-padding .dummy-media-object {
    padding : 10px  20px !important;
    }

.extra-padding .dummy-media-object h3{
    line-height: 40px !important;
}

.dummy-media-object a {
    text-decoration : none;
    }

.dummy-media-object i {
    font-size     : 25px;
    padding       : 5px;
    border-radius : 100%;
    margin-right  : 15px;
    color         : #FFFFFF;
    width         : 40px;
    height        : 40px;
    display       : inline-block;
    text-align    : center;
    line-height   : 30px;
    }

.dummy-media-object h3 {
    vertical-align: text-top !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    line-height: 22px;
    display: inherit;

    }

.dummy-media-object span {
    display : block;
    }

.fav-no-bg i {
    background : transparent !important;
    border     : 1px solid #CCCCCC;
    color      : #CCCCCC;
    }

.fav-no-bg:hover i {
    background : red !important;
    border     : none;
    color      : #FFFFFF;
    }

.search-title {
    display : inline-block;
    }

/*Push Menu Right Side*/
#cbp-spmenu-s2 {
    background : #FAFAFA !important;
    width      : 350px !important;
    padding    : 0 10px;
    }

.cbp-spmenu-right {
    right : -350px;
    }

#cbp-spmenu-s2 h3 {
    color         : #B0B0B0;
    font-size     : 20px;
    padding       : 20px;
    margin        : 0;
    font-weight   : 300;
    border-bottom : none;
    background    : transparent;
    border-bottom : 1px solid #CCCCCC;
    }

#cbp-spmenu-s2 h3.menu-title {
    margin : 0 -10px;
    }

.menu-title i {

    }

.menu-title i.icon-circle {
    font-size     : 18px;
    padding       : 5px;
    border-radius : 100%;
    color         : #CECECE;
    width         : 25px;
    height        : 25px;
    display       : inline-block;
    text-align    : center;
    line-height   : 11px;
    border        : 1px solid #CCCCCC;
    }

.menu-card {
    background : #FFFFFF !important;
    margin     : 10px 0;
    }

.menu-card i {
    font-size     : 25px;
    padding       : 5px;
    border-radius : 100%;
    color         : #FFFFFF;
    width         : 40px;
    height        : 40px;
    display       : inline-block;
    text-align    : center;
    line-height   : 32px;
    }

.menu-card .icon-no-bg i{
    font-size: 15px;
    padding: 4px 3px;
    border-radius: 100%;
    color: #FFFFFF;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 15px;
    margin: 7px 0px;
}

.menu-card h3 {
    color: #505050 !important;
    font-size: 15px !important;
    padding: 0 !important;
    font-weight: 500 !important;
    border-bottom: none !important;
    background: transparent !important;
    line-height: 20px;
    }

.menu-card-wrap {
    padding :5px 10px;
    }

.margin-right {
    margin-right : 10px;
    }

.menu-card span {
    color     : #5C5C5C;
    font-size : 12px;
    }

.menu-card .icon-no-bg i {
    background : transparent;
    border     : 1px solid #CCCCCC;
    color      : #CCCCCC;
    }

.menu-card .icon-no-bg:hover i {
    background : red;
    color      : #FFFFFF;
    border     : 1px solid red;
    }

/*Push menu left side*/

.menu-wrap {
    padding : 20px 40px;
    margin  : auto;
    }

.btn-email {
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 12px;
    min-width: 270px;
    min-height: 40px;
    line-height: 40px;
    background: #4D4D4D;
    }

.btn-email i {
    margin-right : 10px;
    }

#cbp-spmenu-s1 {
    width      : 350px !important;
    background : #000000;

    }

.cbp-spmenu-left {
    left : -350px;
    }

#cbp-spmenu-s1 h3 {
    color         : #B0B0B0;
    font-size     : 20px;
    padding       : 15px 40px;
    margin        : 0;
    font-weight   : 300;
    border-bottom : none;
    background    : transparent;
    border-bottom : 1px solid #CCCCCC;
    }

#cbp-spmenu-s1 a.facebook {
    background: #3C5A99;
    padding: 0 15px;
    border: none;
    line-height: 30px;
    height: auto;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
    min-width: 270px;
    border-radius: 0;
    }

span.fb-caution {
    font-size: 12px;
}

#cbp-spmenu-s1 a.facebook i {
    background: #FFFFFF;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #3C5A99;
    line-height: 20px;
    font-size: 14px;
    }

#cbp-spmenu-s1 h2 {
    margin    : 0 0 15px 0;
    font-size : 12px;
    }

form.left-menu-form {
    margin-top : 10px;
    }

form.left-menu-form .input-group {
    background-color : #FFFFFF;
    margin           : 10px 0;
    padding          : 3px 18px;
    }

form.left-menu-form .input-group-addon {
    background    : transparent;
    border        : none;
    padding-right : 20px !important;
    }

form.left-menu-form .input-group-lg > .form-control, form.left-menu-form .input-group-lg > .input-group-addon, form.left-menu-form .input-group-lg > .input-group-btn > .btn {
    padding: 8px 0;
    border: none;
    border-radius: 0;
    height: initial;
    font-size: 12px;
    }

.btn-form-submit {
    background: #FFFFFF;
    color: #000000;
    min-width: 270px;
    min-height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    border-radius: 0;
    margin-bottom: 10px;
    }

.menu-wrap hr {
    margin-left  : -40px;
    margin-right : -40px;
    }

.bottom-content {
    position : absolute;
    bottom   : 0;
    left     : 0;
    width    : 100%;
    }

.bottom-content a {
    display         : inline-block;
    text-decoration : none;
    cursor          : pointer;
    text-align      : center;
    margin          : 0 10px;
    font-size: 12px;
    }

.bottom-content a i {
    display: block;
    font-size: 50px;
    background: #ED1B23;
    color: #FFFFFF;
    border-radius: 100%;
    line-height: 70px;
    width: 70px;
    height: 70px;
    margin: 20px auto;
    cursor: pointer;

    }

.text-bottom{
    font-size: 12px;
}

.menu-footer {
    margin     : 20px 0;
    border-top : 1px solid #CCCCCC;
    padding    : 20px 50px;
    font-style : italic;
    }

/*Left menu author dashboard*/
.author-img-block {
    position : relative;
    }

img.author-img {
    max-width: 140px;
    height: auto;
    border-radius: 100%;
    border: 5px solid #FFFFFF;
    margin: auto;
    }

.author-img-block .info-text {
    position: absolute;
    top: 22px;
    right: 52px;
    background: red;
    border-radius: 100%;
    padding: 10px 6px;
    border: 5px solid #FFFFFF;
    height: 40px;
    width: 40px;
    line-height: 12px;
    text-align: center;
    }

.author-intro h3 {
    font-size: 16px !important;
    border-bottom: none !important;
    line-height: 20px;
    color: #FFFFFF !important;
    padding: 10px 0 0 0 !important;
    }

.author-rank {
    margin : 10px 0;
    }

.author-rank i {
    font-size : 20px;
    color     : #FFFFFF;
    }

.author-rank span {
    color     : red;
    font-size : 20px;
    }

.author-intro span.subtitle {
    font-size : 12px;
    }

.tab-content ul {
    margin : 0 -40px;
    }

.nav-tabs li a {
    padding       : 5px 42px !important;
    margin-right  : 0;
    border-radius : 0;
    }

.nav-tabs {
    border     : 1px solid #A3A3A3 !important;
    background : #4D4D4D;
    }

.nav-tabs > li {
    margin-bottom : 0 !important;
    }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color            : #555555;
    cursor           : default;
    background-color : #1A1A1A;
    border           : 1px solid;
    border-right     : 1px solid #A3A3A3;
    border-bottom    : none !important;
    border-left      : none !important;
    border-top       : none !important;
    }

.nav-tabs > li > a:hover {
    background-color : #1A1A1A;
    border-right     : 1px solid #A3A3A3;
    }

.nav > li > a:focus, .nav > li > a:hover {
    background-color : #1A1A1A;
    border           : 1px solid #A3A3A3;
    }

.nav-tabs > li > a {
    background    : #4D4D4D;
    border-right  : 1px solid #A0A0A0 !important;
    border-bottom : none !important;
    border-left   : none !important;
    border-top    : none !important;
    }

.nav-tabs > li:last-child > a {
    border-right : none !important;
    padding      : 5px 44px !important;
    }

.nav-tabs > li > a i {
    font-size : 30px;
    color     : #FFFFFF;
    }

.tab-user-list li {
    float      : none;
    text-align : left;

    }

.tab-user-list li a {
    padding: 8px 15px;
    border-bottom: 1px solid #3A3A3A;
    text-decoration: none;
    font-size: 12px;
    }

.tab-user-list li:hover a {
    background : red;
    color      : #FFFFFF;
    }

.tab-user-list li a i {
    font-size: 20px;
    vertical-align: middle;
    }

.tab-notification-list li {
    float: none;
    text-align: left;
    padding: 6px 15px;
    background: transparent !important;
    padding-right: 50px;
    position: relative;
    clear: both;
    font-size: 12px;
    border-bottom: 1px solid #3A3A3A;
    line-height: 30px;
    }

.tab-notification-list li a {

    }

.tab-notification-list li i {
    font-size: 20px;
    padding: 5px;
    border-radius: 100%;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    float: left;
    margin-right: 20px;
    vertical-align: middle;
    margin-bottom: 10px;
    }

.close-notification {
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
    }

.close-notification i {
    background   : none !important;
    margin-right : 0 !important;

    }

.user-settings li {
    float: none;
    clear: both;
    text-align: left;
    padding: 10px 15px;
    border-bottom: 1px solid #595959;
    }

.user-settings .switch label .lever {
    margin-left: 0 !important;
    width: 45px;
    height: 30px;
    border: 4px solid #FFFFFF;
    border-radius: 25px;
    }

.user-settings .switch label .lever:after {
    width: 18px;
    height: 18px;
    top: 2px !important;
    left: 3px !important;
    }

.switch label input[type=checkbox]:checked + .lever:after {
    left : 16px !important;
    }

.switch label input[type=checkbox]:checked + .lever:after {
    background-color : #FFFFFF !important;
    }

.switch label input[type=checkbox]:checked + .lever {
    background-color : #58DC00 !important;
    }

/*intro text*/

.introtext-wrapper {
    position : absolute;
    z-index  : 9999;
    }


.slider-wrap.intro-hide .slide-item > *,
.slider-wrap.intro-hide #contorl > *
{
    opacity : 0;
}

.slider-wrap .intro-slider-wrapper .introtext  > span.show {
    opacity : 1;
    }

.slider-wrap .intro-slider-wrapper .introtext  > span {
    position : absolute;
    opacity  : 0;
    -webkit-transition: all 500ms; /* Safari */
    transition: all 500ms;
    }



/*slider*/
#slider {
    width    : 100%;
    height   : 60%;
    position : relative;
    overflow : hidden;
    }

.intro-slider-wrapper {
    position : absolute;
    top      : 82px;
    left     : 282px;
    z-index  : 999;

    }

span.text-big {
    font-size   : 95px;
    font-weight : 700;
    color       : #FFFFFF;
    }

.slider-wrap {
    position : relative;
    width    : 100%;
    height   : 100%;
    z-index  : 0;
    opacity: 1;
    -webkit-transition: opacity 500ms; /* Safari */
    transition: opacity 500ms;

    }

.slide-item {
    padding : 70px 0 20px 0;
    }

.content-block {
    height        : 40%;
    width         : 100%;
    margin-bottom : 72px;
    }

.slide-item h3 {
    font-size      : 95px;
    font-weight    : 300;
    text-transform : uppercase;
    color          : #FFFFFF;
    line-height    : 120px;
    padding-left   : 150px;
    }

.slide-item h3 span {
    font-weight   : 700;
    padding-right : 20px;
    }

.slide-item p {
    font-size : 20px;
    color     : #FFFFFF;
    }

#box div:nth-of-type(1) {
    background-image : url(../img/bg/1.jpg);
    background-size  : 100% 100%;

    }

#box div:nth-of-type(2) {
    background-image : url(../img/bg/3.jpg);
    background-size  : 100% 100%;
    }

#box div:nth-of-type(3) {
    background-image : url(../img/bg/8.jpg);
    background-size  : 100% 100%;
    }

#box div:nth-of-type(4) {
    background-image : url(../img/bg/8.jpg);
    background-size  : 100% 100%;
    }

ul.slider-icons {
    margin : 25px 0;
    }

.slider-icons li {
    margin  : 15px 25px;
    display : inline-block;
    }

.slider-icons li i {
    font-size     : 35px;
    color         : #ED1B24;
    height        : 40px;
    width         : 40px;
    border-radius : 100%;
    background    : #FFFFFF;
    padding       : 10px;
    }

#contorl {
    height     : 200px;
    width      : 40px;
    right      : 0;
    top        : 50%;
    margin-top : -50px;
    z-index    : 9;
    position   : absolute;
    }

#contorl span {
    display       : block;
    width         : 10px;
    height        : 10px;
    border-radius : 50%;
    background    : #FFFFFF;
    margin        : 10px 0px;
    cursor        : pointer;
    }

#contorl span.on {
    background : #000000;
    }

/*cards*/

.news-block {
    border-top : 1px solid #E7E7E8;
    position   : relative;
    bottom     : -500px;
    transition : all 500ms;
    }

.news-block-show {
    bottom : 0px;
    }

.news-block .card .card-content {
    padding  : 0 10px 0 10px;
    position : relative;
    }

.news-content .card-title {
    color       : #1A1A1A;
    font-size   : 17px;
    font-weight : 500;
    line-height : 40px !important;
    }

.news-title p {
    color       : #1A1A1A;
    font-size   : 13px;
    font-weight : 100;
    }

.news-block .card .card-image {
    transition : all 500ms;
    overflow   : hidden;
    }

.news-block .full-image {
    height : 92px;
    }

.news-block .half-image {
    height : 50px;
    }

.show-fav {
    display : block !important;
    }

.card-action {
    display : none;
    }

.news-block .card .card-content a {
    text-decoration : none;
    margin          : 0;
    }

.card .card-profile-image {
    width         : 68px;
    height        : 68px;
    position      : relative;
    top           : -45px;
    margin-left   : 0px !important;
    z-index       : 1;
    border-radius : 50%;
    border        : 3px solid #FFFFFF;
    text-align    : center;
    cursor        : pointer;
    }

.card-profile-image:hover {
    box-shadow : 0 2px 5px rgba(0, 0, 0, 0.4);
    }

.news-title {
    padding-right : 10px;
    }

.btn-fav-content {
    position : absolute;
    right    : 10px;
    top      : 40%;
    }

.card-action {
    padding : 15px !important;
    }

.card-action i {
    font-size     : 20px;
    border        : 1px solid #CCCCCC;
    padding       : 5px;
    border-radius : 100%;
    color         : #000000;
    }

.card-action span {
    line-height    : 20px;
    padding        : 0 10px 10px 10px;
    vertical-align : top;
    }

.red-li {
    border-left : 5px solid red;
    }

.title-header {
    padding : 10px 0;
    }

.news-block-item {
    margin : 0 15px;
    }

#sponsor-carousel-toggle {
    border-top : 1px solid #E7E7E8;
    position   : fixed;
    width      : 100%;
    max-height : 50px;
    bottom     : 62px;
    }

#sponsor-carousel-toggle a {
    text-decoration : none;
    }

#sponsor-carousel-toggle i {
    font-size   : 80px;
    line-height : 38px;
    color       : #B3B3B3;
    }

.hide-toggle {
    display : none;
    }

/*small navigation*/
#small-circle-navigation {
    position   : relative;
    z-index    : 20;
    margin     : 0 auto;
    text-align : center;
    margin-top : -62px;
    padding    : 0;
    width      : 420px;
    height     : 225px;
    transition : all 500ms;
    }

.circle-hide {
    height : 100px !important;
    }

#plus-ex {

    }

.small-nav-btn {
    display       : inline-block;
    padding       : 25px;
    background    : rgba(255, 255, 255, 0.73);
    border-radius : 50%;
    z-index       : 9999;
    position      : relative;
    }

.small-nav-btn .btn-floating.btn-large {
    width  : 70px;
    height : 70px;
    }

.small-nav-btn .btn-floating.btn-large i {
    line-height : 70px;
    font-size   : 50px;
    font-weight : 300;
    }

#small-circle-navigation ul {
    text-align : center;
    margin     : -20px auto;

    }

#small-circle-navigation li {
    list-style         : none;
    position           : absolute;
    margin             : 0;
    padding            : 0;
    -webkit-transition : all .4s ease-in-out;
    }

#small-circle-navigation li a{
    cursor: pointer;
}

#small-circle-navigation ul i {
    font-size : 32px;
    }

.hide-button .row {
    margin-bottom : 0;
    }

/* CSS3 Animations for small btn nav
================================================================= */

.plus {
    -webkit-transform : rotate(0deg);
    }

.ex {
    -webkit-transform : rotate(-45deg);
    }

#small-circle-navigation li.child-nav {

    }

#small-circle-navigation li.out {
    left              : 44% !important;
    top               : 26% !important;
    -webkit-transform : rotate(-720deg);
    }

.child-icon-one {
    left : 18%;
    top  : 45%;
    }

.child-icon-two {
    left : 28.8%;
    top  : 65%;
    }

.child-icon-three {
    left : 42.8%;
    top  : 78%;
    }

.child-icon-four {
    left : 56%;
    top  : 65%;
    }

.child-icon-five {
    left : 67%;
    top  : 45%;
    }

/*Push menu override*/
.cbp-spmenu-left.cbp-spmenu-open {
    z-index : 9999;
    }

#showLeft {
    background : none;
    border     : none;
    padding    : 6px 10px;
    margin-top : 5px;
    }

#showLeft i {
    font-size : 25px;
    color     : #FFFFFF;
    padding   : 2px 4px;
    }

/*search page*/
.content-card{
    padding: 65px 0 5px 0;
    background: #373435;
}

.item.search-block-card {
    margin: 0 7px;
}


.item.search-block-card .card .card-content {
    padding: 5px 10px;
    border-radius: 0 0 2px 2px;
}

.item.search-block-card .card-title {
    color: #1A1A1A;
    line-height: 30px !important;
}

.item.search-block-card .card .card-profile-image {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 45px;
    margin-left: 0px !important;
    z-index: 1;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    text-align: center;
    cursor: pointer;
    right: 15px;
}

.item.search-block-card .btn-fav-content {
    position: absolute;
    right: 10px;
    top: 20px;
}

.item.search-block-card .news-content{
    position: relative;
}

.item.search-block-card .card-action span {
    line-height: 20px;
    padding: 0 5px 10px 5px;
    vertical-align: top;
}

.item.search-block-card .card .card-action a{
    margin-right: 10px;
}

/*search filter*/
.serahc-filter-wrap{
    padding: 15px 0;
}
.serahc-filter-wrap .input-group .form-control{
    background: #fff;
    border: 1px solid #fff;
    width: 400px;
    padding: 0 15px;
    height: 30px;
}


.serahc-filter-wrap .input-group-btn>.btn {
    position: relative;
    background: none;
    box-shadow: none;
    margin-left: -80px !important;
    color: #000;
    line-height: 20px;
    width: 100%;
}

.serahc-filter-wrap .input-group-btn>.btn:focus,.serahc-filter-wrap .input-group-btn>.btn:active,.serahc-filter-wrap .input-group-btn>.btn:hover{
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

select.ya-default-style{
    display: inline-block;
    float: right;
    width: auto;
    margin: 0 10px;
    background: #fff;
    height: 30px;
}

/*left bar style*/

.search-content-body{
    background: #e6e7e8;
    padding: 15px 0;
}

.search-result-filed{
    background: #fff;
}

.search-number{
    width: 70%;
    float: left;
    display: inline-block;
    border-right: 1px solid #f2f3f3;
    padding: 20px 10px;
}

.search-number-more{
    width: 30%;
    display: inline-block;
}

.search-number h3{
    font-size: 15px;
    text-transform: uppercase;
}

.search-number h3 span{
    display: block;
    padding: 10px 0;
}

.search-number-more i{
    vertical-align: middle;
    line-height: 90px;
    width: 30px;
    height: 30px;
    background: #a9abae;
    border-radius: 100%;
    padding: 10px;
    color: #fff;
    display: inherit;
}

.search-left-card .item.search-block-card{
    margin: 0;
}

#left-sidebar{
    position: static;
    top: auto;
    height: auto;
    width: 214.875px;
}

#left-sidebar.static{
    position:fixed;
    top: 70px !important;
}

.filters-wrap{
    padding: 10px 0;
}

.filters-wrap h3{
    color: #a9abae;
    text-transform: uppercase;
    font-size: 14px;
}

ul.leftfilter{
    margin: 10px 0;
}

ul.leftfilter li a{
    font-size: 12px;
    color: #999999;
}

ul.leftfilter li {
    background: #FFF;
    width: 50%;
    display: inline-block;
    float: left;
    padding: 8px 6px;

}


ul.leftfilter li.blue a,ul.leftfilter li.green a{
    color: #fff;
}

ul.leftfilter li:nth-child(2n-1){
    border-right: 1px solid #F7F7F7;
}


.ya-select-filter {
    width: 100%;
    margin: 10px 0;
    border-radius: 0;
    height: 35px;
    box-shadow: none;
    border: 0;
}
.filter-list{
    margin: 10px 0;
}

.filter-list li{
    padding: 8px 6px;
    background: #fff;
    margin: 10px 0;
}
/*right panel small card*/
.small-card-entry .left-card{
    background: #fff;
    padding: 15px;
}

.small-card-wrap{
    border-right: 1px solid #ebebeb;
    float: left;
    background: none !important;
    padding-right: 10px;
}

.small-card-wrap i{
    font-size: 25px;
    padding: 5px;
    border-radius: 100%;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
}

.small-card-wrap-middle i{
    color: #4d4d4d;
    font-size: 25px;
    padding-left: 10px;
    line-height: 30px;
}

.card-icon-set{
    border-left: 1px solid #ebebeb;
    padding-left: 20px;
    padding-bottom: 9px;
}

.card-icon-set ul li{
    padding: 0 10px;
    text-align: center;
}

.card-icon-set ul span{
    display: block;
    font-size: 12px;
}

.fav-icon-right{
    padding: 8px 15px;
    background: #fff;
}

.fav-icon-right i{
    font-size: 27px;
    padding: 4px 3px;
    border-radius: 100%;
    background: transparent;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    margin: 7px 0px;
}

.fav-icon-right:hover i{
    background: #ff0000;
    color: #fff;
    border: none;
}

.small-card-entry .col-md-10{
    padding-left: 0;
    padding-right: 0;
}

.card-icon-set i.ya-rate{
    color: #ffff00;
}

.small-card-entry{
    margin-bottom: 10px;
}

.card-infinate-scroll{

}


/*news page*/

.content-news-heading{
    background: #010102;
    padding-top: 54px;
}

.news-add-img{
    padding: 30px 0px;
}

.news-add-banner{
    width: 100%;
}

.news-meta{
    background: #141313;
    border-top: 1px solid #232525;
    border-bottom: 1px solid #232525;
}

.news-icon-small-block{
    display: inline-flex;
    padding: 15px 0;
}

.news-icon-small-block i{
    height: 45px;
    width: 45px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    border: 1px solid #4D4D4D;
    font-size: 22px;
}

.block-title {
    padding: 7px 0;
    color: #fff;
}
.block-title span{
    font-size: 12px;
}

.news-block-icon-set {

}

.news-block-icon-set li{
    border-left: 1px solid #232525;
    padding: 10px 20px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.news-block-icon-set li:first-child{
    border-left: none;
}

.news-block-icon-set li i{
    height: 35px;
    width: 35px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    font-size: 22px;
    color: #fff;
    padding: 6px;
    margin: 5px 0;
}

.news-block-icon-set li span{
    display: block;
    padding: 10px 0 0 0;
    font-size: 14px;
}


.news-content-body {
    background: #e5e6e5;
    padding: 15px 0;
}

.lead-news-wrap {
    padding: 40px 20px;
    background: #fff;
}

.lead-news-wrap h3 {
    font-size: 24px;
    line-height: 40px;
}

.lead-news-wrap p {
    line-height: 20px;
    margin-bottom: 20px;
}

.news-img-wrap{
    background: #fff;
    padding: 40px 15px;
    margin: 15px 0;
}

.news-img-wrap img{
    margin-bottom: 10px;
}

.news-item-body{
    padding: 20px 15px;
    background: #fff;
}

.news-item-body h3{
    font-size: 24px;
    line-height: 40px;
}

.news-content-card .card{
    margin-top: 0;
}

.news-content-card .card .card-profile-image {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 65px;
    margin-left: 0px !important;
    z-index: 1;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    text-align: center;
    cursor: pointer;
    right: 15px;
}

.news-content-card .card .card-content {
    padding: 5px 10px;
    border-radius: 0 0 2px 2px;

}

.news-content-card .card .btn-fav-content {
    position: absolute;
    right: 10px;
    top: 20px;
}

.card{
    border-radius: 0;
}

.news-content-card .news-content {
    position: relative;
}

.add-img-v2 img{
    width: 100%;
}

.news-title-header{
    padding: 15px;
    background: #010102;
    margin: 10px 0;
    color: #fff;
}

ul.bottom-tag{
    padding:0 15px;
    margin: 0;
}
ul.bottom-tag li{
    padding: 6px 20px;
    background: #b3b2b2;
    color: #fff;
}

ul.bottom-tag li a{
    color: #fff;
}

.news-bottom-tag-wrap{
    background: #fff;
    padding: 15px 0;
}

/*footer*/
footer {

    bottom     : 0;
    width      : 100%;
    max-height : 72px;
    background : #000000;
    }

html.home footer{
    position   : fixed !important;
}

.footer-wrap {
    padding : 10px 0;
    }

.social-icons {
    padding : 12px 0;
    }

.social-btn ul li {
    display      : inline-block;
    margin-right : 10px;
    }

.social-btn ul li i {
    color         : #000000;
    height        : 25px;
    width         : 25px;
    background    : #FFFFFF;
    border-radius : 50%;
    text-align    : center;
    line-height   : 25px;
    }

.copyright a, .copyright p {
    font-size : 12px;
    color     : #B3B3B3;
    }

.copyright a {
    text-decoration : none;
    }

ul.footer-nav li {
    display      : inline-block;
    margin-right : 3px;
    }

.copyright {
    padding : 12px 0;
    }
p.search-copyright{
    color: #fff;
    font-size: 12px;
    line-height: 48px;
}
