/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Roboto", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    height: 100%;
}

.main-body-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

/*header*/
.header{
    background: rgba(204, 0, 5, 0.64);
    border: none;
}

.logo{
    padding: 2px;
}

.logo img{
    max-width: 116px;
    max-height: 43px;
}

.right-panel{
    padding: 15px 0;
}

.right-panel a{
    line-height: 20px;
    text-decoration: none;
}

/*slider*/
#slider{
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
}

.slider-wrap{
    position: relative;
    width: 100%;
    height: 100%;

}

.slide-item{
    padding: 70px 0 20px 0;
}

.content-block{
    height: 40%;
    width: 100%;
    margin-bottom: 72px;
}

.slide-item h3{
    font-size: 95px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    line-height: 120px;
}

.slide-item h3 span{
    font-weight: 700;
    padding-right: 20px;
}


.slide-item p{
    font-size: 20px;
    color: #fff;
}


#box div:nth-of-type(1) {
    background-image: url(../img/banner/bg2.jpg);
    background-size: 100% 100%;

}

#box div:nth-of-type(2) {
    background-image: url(../img/banner/bg1.jpg);
    background-size: 100% 100%;
}

#box div:nth-of-type(3) {
    background-image: url(../img/banner/bg3.jpg);
    background-size: 100% 100%;
}

#box div:nth-of-type(4) {
    background-image: url(../img/banner/bg1.jpg);
    background-size: 100% 100%;
}


ul.slider-icons{
 margin: 25px 0;
}

.slider-icons li{
    margin:15px 25px;
    display: inline-block;
}

.slider-icons li i{
    font-size: 35px;
    color: #ed1b24;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #fff;
    padding: 10px;
}


#contorl {
    height: 200px;
    width: 40px;
    right: 0;
    top: 50%;
    margin-top: -50px;
    z-index: 9;
    position: absolute;
}

#contorl span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    margin: 10px 0px;
    cursor: pointer;
}

#contorl span.on {
    background: #000000;
}


/*small navigation*/
#small-circle-navigation {
    position: relative;
    z-index: 20;
    margin: 0 auto;
    text-align: center;
    margin-top: -82px;
    padding: 0;
    width: 420px;
    height: 250px;
    transition: all 500ms;
}

.circle-hide{
    height: 166px !important;
}

#plus-ex {

}

.small-nav-btn {
    display: inline-block;
    padding: 40px;
    background: rgba(255, 255, 255, 0.73);
    border-radius: 50%;
    z-index: 9999;
    position: relative;
}


.small-nav-btn .btn-floating.btn-large{
    width: 85px;
    height: 85px;
}

.small-nav-btn .btn-floating.btn-large i{
    line-height: 85px;
    font-size: 58px;
    font-weight: 300;
}

#small-circle-navigation ul {
    text-align: center;
    margin: -20px auto;

}

#small-circle-navigation li {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    -webkit-transition: all .4s ease-in-out;
}

#small-circle-navigation ul i {
    font-size: 32px;
    color: #fff;
    background: #ed1b24;
    border-radius: 100%;
    padding: 15px;
}

/* CSS3 Animations for small btn nav
================================================================= */

.plus {
    -webkit-transform: rotate(0deg);
}

.ex {
    -webkit-transform: rotate(-45deg);
}


#small-circle-navigation li.child-nav{

}

#small-circle-navigation li.out {
    left: 48% !important;
    top: 17% !important;
    -webkit-transform: rotate(-720deg);
}

.child-icon-one{
    left: 10%;
    top: 37%;
}
.child-icon-two{
    left: 23.8%;
    top: 63%;
}
.child-icon-three{
    left: 42.8%;
    top: 78%;
}

.child-icon-four{
    left: 62.6%;
    top: 63%;
}

.child-icon-five{
    left: 76%;
    top: 37%;
}

/*Push menu override*/
.cbp-spmenu-left.cbp-spmenu-open{
    z-index: 9999;
}

#showLeft{
    background: none;
    border: none;
    padding: 6px 10px;
    margin-top: 5px;
}

#showLeft i{
    font-size: 25px;
    color: #fff;
    padding: 2px 4px;
}


/*footer*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 72px;
    background: #000;
}

.footer-wrap{
    padding: 10px 0;
}

.social-icons{
    padding: 12px 0;
}

.social-btn ul li{
    display: inline-block;
    margin-right: 10px;
}

.social-btn ul li i{
    color: #000;
    height: 25px;
    width: 25px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
}

.copyright a,.copyright p{
font-size: 12px;
    color: #b3b3b3;
}

.copyright a{
    text-decoration: none;
}

ul.footer-nav li{
    display: inline-block;
    margin-right: 3px;
}

.copyright{
    padding: 12px 0;
}